@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #222c2a;
    margin: 0;
}
img {
    max-width: 100%;
}
/* headings and logo */

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 1.1rem;
}
header {
    background-color: #f3eed9;
    padding: 1em 0;
    text-align: center;
}


/* navication links */
/* flex navigation inspired by Kevin Powell */
.nav {
    width: 100%;
    font-size: 1rem;
} 
.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 0 .75em;
}
.nav_item {
    margin-top: .75em;
}
.nav_link {
    color: #9d3e3e;
    text-transform: uppercase;
    text-decoration: none;

}

.nav_link_button {
    padding: .25em .75em;
    background: #9d3e3e;
    color: #f3eed9;
    border-radius: 100px;
}
.nav_link:hover,
.nav_link:focus {
    opacity: .65;
}

/* hero image styling */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #f3eed9;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/brownies-hero-image.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Animation */
/* inspired by Code Institute's Love Running hero animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
section {
    padding: 4em 0;
}

#cover-text {
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    text-transform: none;
    letter-spacing: 3px;

    width: 370px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background: rgba(48, 2, 90, 0.6);
    bottom: 30px;
    right: 150px;
    position: absolute;
}
/* Main container  */
.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}
/* Create a radius on images */
.col img {
    border-radius: 5%;
}
.section-title {
    font-size: 2.25rem;
    color: #f3eed9;
}
/* Introduction text style */
.intro {
    background-color: #f3eed9;
    color: #9d3e3e;
    max-height: 660px;
    text-align: center;

    display: flex;
    align-items: center;
}
.intro__title {
    font-size: 3rem;
    line-height: 3.2rem;
}
.ingredients {
    background-color: #9d3e3e;
    color: #f3eed9;
}

.ingredients li {
    list-style-type: none;
}
.preparation {
    background-color: #222c2a;
    color: #f3eed9;
}
.dry-ingredients {
    background-color: #9d3e3e;
    color: #f3eed9;
}
.dry-wet-combined {
    background-color: #222c2a;
    color: #f3eed9;
}
.mixture-tray {
    background-color: #9d3e3e;
    color: #f3eed9;
}
.tray-in-oven {
    background-color: #222c2a;
    color: #f3eed9;
}
.cut-brownies {
    background-color: #9d3e3e;
    color: #f3eed9;
}


hr {
    border-bottom: 1px solid #222c2a;
}
/* footer */
footer {
    height: 180px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #222c2a;
   
}
.social-networks {
    text-align: center;  

}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #f3eed9;
}
/* sign up form section */
/* inspired by Code Institute's Love Running Sign Up */
.form-section {
    clear: left;
    background: url(../images/browniebg.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 150px 10% 0 0;
    color: #f3eed9;
    background-color: rgba(41, 45, 10, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form h2 {
    color: #f3eed9;
    margin-bottom: 20px;
    line-height: 1.2em;
}
.text-input {
    background: transparent;
    color: #f3eed9;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #f3eed9;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #9d3e3e;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #9d3e3e;
    color: #f3eed9;
    display: block;
}
.join-button:hover {
    background-color: #f3eed9;
    color: #9d3e3e;
}
/* gallery */
.wrapper {
padding: 5rem 5%;

}
.pic-text {
margin-bottom: 2rem;
font-size: 2rem;
}
.pic-gallery {
display: flex;
flex-direction: column;
gap: 10px;
}
.pic-gallery .pic-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pic-item img {
width: 100%;
border-radius: 5px;
height: 100%;
object-fit: cover;
}
 /* overlay style */
 .pic-item {
    position: relative;
    cursor: pointer;
 }
 /* inspiration frome CodeSandbox */
 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(41, 45, 10, 0.6);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #f3eed9;
    /* centre overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .pic-item:hover .overlay {
    transform: scale(1);
 }
.photos {
    background-color: #f3eed9;
    color: #9d3e3e;
}
/* responsive media section */

@media (min-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
    }
    .nav_list {
        display: flex;
        margin: 0;
    }
    .nav_item {
        margin: 0 0 0 1.5em;
    }
    .row {
        display: flex; 
    }
    .col {
        width: 100%;
        padding-top: 2em;
    }
    .col + .col {
        margin-left: 5em;
    }
    .photos {
        flex-direction: row;
        gap: 1px;
    }
    .pic-gallery {
        flex-direction: row;
    }
    
}